<header>
    <div class="logo">Loja de Celulares</div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/produtos">Produtos</a></li>
            <li><a routerLink="/sobre">Sobre Nós</a></li>
            <li><a routerLink="/contato">Contato</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <p>&copy; 2024 Loja de Celulares. Todos os direitos reservados.</p>
</footer>

<section class="hero">
    <h1>Descubra a Tecnologia dos Melhores Celulares</h1>
    <p>Conecte-se ao futuro com nossos dispositivos inovadores.</p>
    <a routerLink="/produtos" class="btn">Ver Produtos</a>
</section>
